h1 {
  color: darkblue;
  font-size: 20px;
  font-style: oblique;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.score {
  color: gray;
}

.gold {
  color: gold;
}

#gameLink {
  text-align: center;
  border: 1px solid gray;
}

#scoreBoard {
  font-size: 25px;
  font-family: Helvetica;
  font-style: oblique;
  color: black;
}
